<div class="container mx-auto min-h-screen my-6">
  <header class="flex items-center pb-4">
    <h2 class="heading1 flex-1">
      People ({{ peopleCount() }} von {{ totalPeopleCount() }})
    </h2>
    <div class="search-container hidden sm:flex gap-2">
      <div class="input-wrapper w-full max-w-sm min-w-[200px] relative">
        <input
          type="text"
          class="search-input w-full h-10 px-3 pr-11 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-lg transition duration-300 ease-in-out shadow-sm focus:outline-none focus:border-slate-400 hover:border-slate-400"
          placeholder="Search for person..."
          (input)="onSearch($event)"
          [value]="searchTerm()"
        />
        <button
          class="search-button absolute h-8 w-8 right-1 top-1 bg-white rounded flex items-center"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="w-4 h-4 text-slate-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </header>

  @if (!peopleList().length) {
  <p class="text-center text-slate-500">
    No results available at the moment. Check back later or refine your search.
  </p>
  } @else {
  <div class="people-grid grid gap-6 w-full sm:grid-cols-2 lg:grid-cols-3">
    @for (people of peopleList(); track $index) {
    <app-people-list-item [item]="people"></app-people-list-item>
    }
  </div>

  @if(hasMoreRecords()) {
  <div class="mt-4">
    <button
      class="w-full bg-blue-600 text-white font-montserrat py-2 px-8 font-medium rounded-xl hover:bg-blue-500 transition-all duration-300"
      (click)="loadMore()"
    >
      {{ isLoading() ? 'Loading...' : 'Load more' }}
    </button>
  </div>
  } }
</div>
